@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Trash Collector is an application for City of Milwaukee Public Works.</p>
    <p><a href="https://city.milwaukee.gov/mpw/divisions/operations/environmental/sanitation/GarbageRecyclingSchedules.htm#.XMxuUKROmv4">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Set Out Instructions</h2>
        <p>
            <br/>Carts and bins must be at the collection point (alley line or curb line) by 7 AM on designated pickup dates.
            <br/>Carts must have a clear path to them and must be free from ice and snow accumulation.
            <br/>Carts must be 3 feet away from other objects
            <br/>Carts and bins must be returned to the storage area by 10 PM. (Scheduled winter pickups for garbage and some recycling routes may be postponed due to winter weather. In this situation, leave the cart(s) at the collection point until emptied.)
            <br/>Garbage must be bagged. Recyclables must be loose. Learn about what materials can and cannot be collected.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Look Up Real Collection Schedules</h2>
        <p>GarbageCollection is guarenteed year round.</p>
        <p><a class="btn btn-default" href="https://city.milwaukee.gov/mpw/divisions/operations/environmental/sanitation/GarbageRecyclingSchedules.htm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bulkey Item PickUp Guidelines</h2>
        <p>You can easily dispose of item that are too large to be placed in your garbage can.</p>
        <p><a class="btn btn-default" href="https://city.milwaukee.gov/mpw/divisions/operations/environmental/sanitation/Bulky-Item-Pickup#.XMxvhqROmv4">Learn more &raquo;</a></p>
    </div>
</div>